<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ALL < DEBUG < INFO < WARN < ERROR < FATAL < OFF -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="DAO_CONSOLE_APPENDER" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %X{idRequest}-%X{idStat} %-5p [%c.%M:%L] %m%n" />
		</layout>
	</appender>

	<!-- ********** APPENDERS DEFINITION (begin) ********** -->
	<appender name="DAO_FILE_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../target/logs/dao.log" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="DAO %d{yyyy-MM-dd HH:mm:ss,SSS} %X{idRequest}-%X{idStat} %-5p [%c] %m%n" />
		</layout>
	</appender>

	<!-- asynchrone -->
	<appender name="ASYNCPROD_DAO_FILE_APPENDER" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="DAO_FILE_APPENDER" />
	</appender>

	<!-- ********** APPENDERS DEFINITION (begin) ********** -->
	<appender name="DAO_AUDIT_FILE_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="../target/logs/capboard-audit.log" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %X{idTeleservice} %X{url} %X{code_retour} %X{duree}%n" />
		</layout>
	</appender>

	<!-- asynchrone -->
	<appender name="ASYNCPROD_DAO_FILE_APPENDER" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="DAO_FILE_APPENDER" />
	</appender>

	<!-- ********** LOGGERS DEFINITION (begin) ********** -->
	<logger name="eu.capsys.uncap.caplog">
		<level value="DEBUG" />
	</logger>

	<logger name="org.apache.spark">
		<level value="WARN" />
	</logger>

	<!-- ********** LOGGERS DEFINITION (begin) ********** -->
	<logger name="ROSA_AUDIT">
		<level value="INFO" />
		<appender-ref ref="DAO_AUDIT_FILE_APPENDER" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="ASYNCPROD_DAO_FILE_APPENDER" />
		<!-- pas de log direct dans tomcat en production -->
		<appender-ref ref="DAO_CONSOLE_APPENDER" />
	</root>

</log4j:configuration>